.paddingDe20{
    padding: 20px;
}
.paddingLeftDe10{
    padding-left: 10px;
}
.fondo{
    background-color: rgb(19, 19, 19);
}
.letrasBlancas{
    color:white;
}
.ucm{
    background-color: red;
    color: white;
    display: inline-block;
    padding: 2px 10px 8px 10px;
}
.crono{
    color: white;
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 5px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
.titulo{
    text-align: center;
}
.imagenTamaño{
    width: 100px;
    height: 280px;
}
.imagenDetalle{
    width: 230px;
    height: 350px;
}
.borderBlanco{
    border: solid 2px white;
}
.videoT{
    width: 37rem;
    height: 19.6rem;
}
.modalDetalle{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.731);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}
.mostrarModal{
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.4s;
}
.modalCerrar{
    text-decoration: none;

}
.modalContenedor{
    width: 90%;
    max-width: 930px;
}
.logoUcm{
    width: 12rem;
    height: 5rem;
}
.cajaEspera{
    border: solid white 2px;
}